.icons {
	
}

.mdc-text-amber {
    color: rgb(255, 193, 7);
}
.mdc-text-red {
    color: rgb(244, 67, 54);
}

.mdc-text-green {
    color: rgb(76, 175, 80);
}

.mdc-text-light-blue {
    color: rgb(3, 169, 244);
}

.mdc-text-grey {
    color: rgb(158, 158, 158);
}